*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: min(50em, 100% - 2rem);
  margin-inline: auto;
}

.flex-group {
  display: flex;
  align-items: center;
}

.flex-group:has(h1) {
  padding: 1em;
}

.header__link {
  display: inline-block;
  padding: 1em;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.footer__navbar {
  padding: 0;
  margin-inline-end: auto;
}

.footer__link {
  padding-inline: 0.25em;
  border-inline-end: 1px solid black;
}

h1 {
  margin: 0;
  margin-inline-end: auto;
}

.aside-title {
  font-size: 1.125rem;
}

.margin-top-0 {
  margin-block-start: 0;
}

.black-border {
  border: 1px solid black;
}

.btn {
  display: inline-block;
  color: white;
  font-family: Arial, serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;

  padding: 0.5em 1em;
  margin-block-start: 1em;
  border-radius: 0.5rem;
  background-color: hsl(219, 100%, 50%);
  transition: all 0.75s ease;
}

.btn:hover {
  opacity: 0.75;
}

header {
  padding: 1em;
  margin-inline: auto;
  margin-block-end: 0.5em;
  width: min(50em, 100% - 2rem);
}

#menu {
  padding: 0.5em;
  margin-block-end: 0.5em;
  width: min(50em, 100% - 2rem);
}

#noticias,
#publicidad,
#principal,
#secundario {
  padding: 0.5em;
}

#secundario {
  align-self: flex-start;
}

#pie {
  padding-block: 0.5em;
  width: min(50em, 100% - 2rem);
  margin-inline: auto;
}

article + article {
  margin-block-start: 1em;
}

.article__img {
  margin: 0.5em;
  margin-block-start: 0;
  align-self: flex-start;
}

#publicidad {
  margin-block-start: 1em;
}

#pie {
  margin-block-start: 1em;
}

.black-border {
  border: none;
}

#menu {
  border-block-start: 1px solid #004c99;
  border-block-end: 1px solid #004c99;
}

#noticias {
  border: 1px solid #c5c5c5;
}

#publicidad {
  border: 1px dotted #cc6600;
}

#secundario {
  border: 1px solid #cc6600;
}

#pie {
  border-block-start: 1px solid #c5c5c5;
  border-block-end: 1px solid #c5c5c5;
}

/* ================= 
    Requerimientos 
================= */

/* Los elementos #noticias y #pie tiene un color de fondo gris claro (#F8F8F8) */
#noticias,
#pie {
  background-color: #f8f8f8;
}

/* El elemento #publicidad muestra un color de fondo amarillo claro (#FFF6CD) */
#publicidad {
  background-color: #fff6cd;
}

/* Los elementos <h2> de #secundario muestran un color de fondo #DB905C y un pequeño padding de 0.2em */
.secundario__title {
  padding: 0.2em;
  background-color: #db905c;
}

/* El fondo del elemento #menu se construye mediante una pequeña imagen llamada fondo_menu.gif */
#menu {
  /* Propiedad background-image utilizada como imagen de fondo */
  background-image: linear-gradient(135deg, #f8f8f8, #fff6cd, #db905c);
}

/* El logotipo del sitio se muestra mediante una imagen de fondo del elemento <h1> contenido en
el elemento #cabecera (la imagen se llama logo.gif) */
header {
  /* Propiedad background-image utilizada como imagen de fondo */
  background-image: linear-gradient(135deg, #f8f8f8, #fff6cd, #db905c);
}
