*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: min(50em, 100% - 2rem);
  margin-inline: auto;
}

.flex-group {
  display: flex;
  padding: 1rem;
  background-color: lightgray;
}

.anterior {
  margin-inline-end: auto;
}

p {
  margin: 0;
  font-size: 1.125rem;
}

.btn {
  display: inline-block;
  color: white;
  font-family: Arial, serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;

  padding: 0.5em 1em;
  margin-block-start: 1em;
  border-radius: 0.5rem;
  background-color: hsl(219, 100%, 50%);
  transition: all 0.75s ease;
}

.btn:hover {
  opacity: 0.75;
}
